mixin example(data)
	.container
		.wrapper
			.wrapper__container
				.mobile__text
						span.mobile__phone
							| 7 357 321&#8364
						span.mobile__span
							| JACKPOT
				.main
					.main__content
						.text
							span.corner
							h1 
								| Алғашқы берілетін бонус! 
								br
							span.line
							h2.main__h2
								| 100% на депозит до 25 000 RUB
								br
								span.h2__span
									| + 250ге дейін бірінші
								br
								| салымға тегін спинерлер!
							h2.mobile__h2
								| 100% депозит 500 EUR
								br
								span.h2__span
									| + 250ге дейін бірінші
								br
								| салымға тегін спинерлер!
							span.line
							
							p.main__p
								| Тек жаңа ойыншылар үшін – ұсыныс бірінші толықтыру үшін жарамды. Минималды депозит - 10 евро. Қосымша спинерлерді алу үшін, 50 есе баланс айналымы талаптары бар. 5 күннің ішінде қосымша 40 спинер беріледі. Қосымша спинерлер тек алғашқы 24 сағат ішінде жарамды. Бонуспен ойнау үшін максималды өлшем - € 2. Бонустық төлемдерге 50 еселік вейджеринг қолданылады. 
								span Шарттар мен ережелер қолданылады.
							p.mobile_p
								| Nur für neue Spieler – das Angebot gilt nur für die 1. Einzahlung. Mindesteinzahlung beträgt €10. 50-fache Umsatzbedingung für Extra-Spin-Gewinne. 40 Extra-Spins, 5 Tage in Folge. Extra Spins sind 24 Stunden gültig. Maximalwette beim Spielen mit dem Bonus beträgt €2. 50-fache Umsatzbedingung für Bonusgelder + mit Bonus verbundene Einzahlung.
								br
								span 
									| Esgelten die AGBs, Spielausschlüsse und -gewichtungen.
						.button
							span.left
							span.top
							a(href='#') 
								| Тіркелу
						img.animal(src='../../static/img/content/cat.png' alt='cat')

						.animate
							img.top__img(src='../../static/img/content/g.jpeg' alt='cat')
							img.left__img(src='../../static/img/content/g.jpeg' alt='cat')
							img.right__img(src='../../static/img/content/g.jpeg' alt='cat')
							img.bottom__img(src='../../static/img/content/g.jpeg' alt='cat')
							a(href='#') 
								| Тіркелу
					.main__img
						div.cash.parallax
							img(src='../../static/img/content/cash.png' alt='cash' data-depth='0.5')
						div.girl.parallax
							img(src='../../static/img/content/girl.png' alt='girl' data-depth='0.3')

						

