mixin footer(data)
	footer.footer
		ul.footer__list
			li.footer__item
				a.sprite_1(href='#')
			li.footer__item
				a.sprite_2(href='#')
			li.footer__item
				a.sprite_3(href='#')
			li.footer__item
				a.sprite_4(href='#')
			li.footer__item
				a.sprite_5(href='#')
			li.footer__item
				a.sprite_6(href='#')
			li.footer__item
				a.sprite_7(href='#')
			li.footer__item
				a.sprite_8(href='#')
			li.footer__item
				a.sprite_9(href='#')
			li.footer__item
				a.sprite_10(href='#')
			li.footer__item
				a.sprite_11(href='#')
			li.footer__item
				a.sprite_12(href='#')
			li.footer__item
				a.sprite_13(href='#')
			li.footer__item
				a.sprite_14(href='#')
			li.footer__item
				a.sprite_15(href='#')
			li.footer__item
				a.sprite_16(href='#')
			li.footer__item
				a.sprite_17(href='#')
			li.footer__item
				a.sprite_18(href='#')
			li.footer__item
				a.sprite_19(href='#')
			li.footer__item
				a.sprite_20(href='#')
			li.footer__item
				a.sprite_21(href='#')
			li.footer__item
				a.sprite_22(href='#')
			li.footer__item
				a.sprite_23(href='#')
			li.footer__item
				a.sprite_24(href='#')
			li.footer__item
				a.sprite_25(href='#')
			li.footer__item
				a.sprite_26(href='#')
			li.footer__item
				a.sprite_27(href='#')
			li.footer__item
				a.sprite_28(href='#')
			li.footer__item
				a.sprite_29(href='#')
			li.footer__item
				a.sprite_30(href='#')
			li.footer__item
				a.sprite_31(href='#')
			li.footer__item
				a.sprite_32(href='#')
			li.footer__item
				a.sprite_33(href='#')
		ul.mobile
			li.mobile__item
				a.sprite_34(href='#')
			li.mobile__item
				a.sprite_35(href='#')
			li.mobile__item
				a.sprite_36(href='#')
			li.mobile__item
				a.sprite_37(href='#')
			li.mobile__item
				a.sprite_38(href='#')
			li.mobile__item
				a.sprite_39(href='#')
			li.mobile__item
				a.sprite_40(href='#')
			li.mobile__item
				a.sprite_41(href='#')
			li.mobile__item
				a.sprite_42(href='#')
			li.mobile__item
				a.sprite_43(href='#')
			li.mobile__item
				a.sprite_44(href='#')
			li.mobile__item
				a.sprite_45(href='#')
			li.mobile__item
				a.sprite_46(href='#')
			li.mobile__item
				a.sprite_47(href='#')
			li.mobile__item
				a.sprite_48(href='#')
			li.mobile__item
				a.sprite_49(href='#')
			li.mobile__item
				a.sprite_50(href='#')
			li.mobile__item
				a.sprite_51(href='#')
			li.mobile__item
				a.sprite_52(href='#')
			li.mobile__item
				a.sprite_53(href='#')
			li.mobile__item
				a.sprite_54(href='#')
			li.mobile__item
				a.sprite_55(href='#')
			li.mobile__item
				a.sprite_56(href='#')
			li.mobile__item
				a.sprite_57(href='#')
			li.mobile__item
				a.sprite_58(href='#')
			li.mobile__item
				a.sprite_59(href='#')
			li.mobile__item
				a.sprite_60(href='#')
			li.mobile__item
				a.sprite_61(href='#')
			li.mobile__item
				a.sprite_62(href='#')
			li.mobile__item
				a.sprite_63(href='#')
			li.mobile__item
				a.sprite_64(href='#')
			li.mobile__item
				a.sprite_65(href='#')
			li.mobile__item
				a.sprite_66(href='#')