mixin header(data)
	header.header 
		.logo 
			.logo__text 
				img.logo__text__img(src='../../static/img/content/logo.png' alt='text')
			.logo__img
				img.logo_img(src='../../static/img/content/Union.png' alt='logo')
		.info
			.phone
				img.phone__number(src='../../static/img/content/phone.png' alt='phone')
				img.phone__evro(src='../../static/img/content/evro.png' alt='evro')
			.info__text
				img.info__text__img(src='../../static/img/content/info.png' alt='info')
			.menu
				.dropdown
					a.menu__link(href='#')
						img.kr(src='../../static/img/content/kr.png' alt='kr')
						span.dropdown__span
					ul.dropdown__list
						li
							a(href='#')
								img.ru(src='../../static/img/content/ru.png' alt='ru')
								span
									| RU
							span.lines
						li
							a(href='#')
								img.en(src='../../static/img/content/Mask Group.png' alt='en')
								span
									| EN
							span.lines
						li
							a(href='#')
								img.ua(src='../../static/img/content/ua.png' alt='ua')
								span
									| UA
							span.lines
						li
							a(href='#')
								img.tr(src='../../static/img/content/tr.png' alt='tr')
								span
									| TR
							span.lines
						li
							a(href='#')
								img.de(src='../../static/img/content/de.png' alt='de')
								span
									| DE